* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header, .container {
    padding: 0 10rem;
}

/* Things related to the header */

.header {
    background-color: #ff8777;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 100px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

a {
    text-decoration: none;
    color: #ffdbd6
}


/* Things related to the body */


.body {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.container {
    flex: 1;
    background-color: #fff3f1;
    padding: 2rem 10rem;
}

.container--1 {
    background-color: #ff8777;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 5rem 10rem;
    flex: 0;
    color: #ffdbd6;

}

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    font-size: 42px;
}


button {
    font-size: 15px;
    padding: .2rem 1.5rem;
    background-color: #ffb7ad;
    border-radius: 5px;
    border: solid 2px #ffdbd6;
    width: fit-content;
    color: #fff3f1
}


.img {
    background-image: url("../images/container--1img.avif");
    width: 400px;
    height: 180px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-shrink: 0;
    border-radius: 10px;
    border: solid #ffdbd6 2px;
    box-shadow: inset 0px 0px 50px #ffb7ad;
}



.container--2 {
    flex: 1.2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.container--2 ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nutritional-img--1 {
    width: 150px;
    height: 150px;
    background-color: red;

}

.container--3 {
    background-color: #ffdbd6;
}

.container--4 {
    flex: .8;
}

/* Things related to the footer */

.footer {
    display: flex;
    background-color: #ff8777;
    justify-content: center;
    padding: 2rem;
}